<div class="container">
  <div class="logo">
    <img src="../../assets/banco-safra.png" alt="Logo Banco Safra">
    <h2>Chamada da API</h2>
  </div>

  <div>
    <label for="name">Nome:</label>
    <input type="text" [(ngModel)]="user.name" name="name">
  </div>
  <div>
    <label for="email">E-mail:</label>
    <input type="text" [(ngModel)]="user.email" name="email">
  </div>

  <div>
    <label for="gender">Gênero:</label>
    <input type="text" [(ngModel)]="user.gender" name="gender">
  </div>
  <div>
    <label for="age">Idade:</label>
    <input type="text" [(ngModel)]="user.age" name="age">
  </div>

  <button (click)="returnUser()">Voltar</button>
  <button (click)="editUser(user.id)">Editar</button>
  <button (click)="deleteUser(user.id)">Excluir</button>

</div>
